*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 140px;
    margin-right: 0;
    margin-top: 40PX;
}

a {
    text-decoration: none;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a {
    display: block;
    background-color: #FFFFFF;
    color: #000;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 7px;
    transition: all 300ms ease-in-out;
}

.links a:hover {
    background-color: red;
    color: #fff;
}

h1 {
    font-size: 50px;
}

.container {
    align-items: center;
    display: flex;
    width: 70%;
    margin-left: 10%;
    color: #FFFFFF;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 111px;

}

.watch-player {
    width: 531px;
    padding-left: 40px;
    height: 424px;
}

.player {
    margin-top: 83px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    color: white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    padding: auto;
}

.blogs-container {
    display: flex;
    gap: 40px;
}

.box {
    width: 150px;
    padding: 10px 10px;
    height: 170px;
    background-color: black;
    font-size: 10px;
    text-align: center;
    border-radius: 7px;
}


.match {
    background-color: red;
    color: #FFFFFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.blog {
    width: 100%;
    height: auto;
}

.blog .blog-transfer img {
    width: 100%;
    height: 150px;
}

.blog-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-taitel {
    font-size: 8px;
}

.message,
.blog-duration {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 8px;
}

footer {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
    align-items: center;
    background-color: black;

}

.goal {
    padding-top: 10px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
}

.links-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links-button a {
    color: #fff;
    font-weight: 600;
}